* {
    font-family: 'Merriweather', serif;
}

* {
    margin: 0;
    padding: 0;
}

/* header related styles  */
.banner {
    position: relative;
}

.banner img {
    max-width: 100%;
    height: auto;
    align-items: center;
    margin: 5px 500px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);


}

.banner-card {
    position: absolute;
    top: 25%;
    color: #c40f0f;
    text-align: center;
    right: 40%;


}

.banner-card h3 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;


}

.banner-card h1 {
    color: #f72f2f;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;

}


/* section 01 styles */
.h1x {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0;

}

.dis-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 0;


}

.h2x {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 50px;

}

.dis-img {
    width: 802.9px;
    height: 500px;
    align-items: center;
    margin: auto;
    margin-top: 0;
    margin-bottom: 120px;
}

/* section 02 styles */


.inside {
    position: relative;
}

.imgx {
    position: relative;

    max-width: 100%;
    height: auto;
    align-items: center;
    margin-top: 0;
    border-radius: 16px;
    left: 20%;
    top: 0;

}

.imgy {
    width: 319.83px;
    height: 464.662px;
    flex-direction: column;
    display: flex;
    left: 30%;

}

.text {
    position: absolute;
    top: 25%;

    display: flex;

    flex-direction: column;
    justify-content: space-around;

}

.paragraph {
    left: 26%;
    margin-left: 550px;

}

.text h1 {
    color: white;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin-bottom: 25px;

}

.text p {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-top: 0;
    margin-bottom: 50PX;
}

.text button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background-color: #070211;
}

/* footer{
    background-color:#070211 ;
} */
.first {
    display: flex;
}

.first p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px
}

.picture {
    margin: 150px auto;
    gap: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

}

.pic {
    margin: 0px auto;
    gap: 24px;
    display: flex;
    justify-content: center;


}

.box {
    margin-left: 550px;
}

.box-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 16px;

}

.box-header {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 22px;
}

.box-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 50px;
    width: 800px;
    left: 45%;

}

.schedule {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 470px;
    margin: 120px auto;
    margin-bottom: 150px;
}

.time {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 120px;

}

#date {
    color: #F00;
}

/* offer styles */
#offer {
    display: flex;
   margin: 120px 300px 120px 300px;
    gap: 60px;
}
.offer-title{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color:#F00;

}
.offer-header{
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}
.offer-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
width: 393px;
}
.title2024 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

#red-border {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 15px;
}
.descrip{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;

}

/* holiday section */
.holiday-text {
    text-align: center;
}

.holiday-text h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.holiday-text h1 {
    color: #070211;
    font-family: merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 0;

}

.holiday-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 800px;
   margin:30px 540px 50px 540px ;

}

/* holiday images */
#red {
    align-items: center;
    justify-content: center;
    margin-left: 25%;
}

/* #woman{
    margin-right: 300px;
}
#off{
  padding-left: -10px; */
/* .holiday-picture{
    margin: auto;
    left: 20%;
    gap: 5px;
  } */






/* newslettere styles */
#newsletter {
    margin: 120px 300px 120px 300px;
    align-items: center;
}

.newsletter-main {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;

}

.container {
    align-items: center;
    text-align: center;
}

.email-icon {
    margin-top: 80px;
    margin-bottom: 40px;
}

.boxdescrip {
    padding-left: 160px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 800px;
    color: rgba(7, 2, 17, 0.60);
    margin-bottom: 50px;
}

form>input {
    margin-top: 0;

}

.email {
    width: 550px;
    height: 50px;
    background-color: #FFF;
    color: rgba(7, 2, 17, 0.60);
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
    border: none;
    gap: 0;
}

.buttonsec {
    width: 190px;
    height: 50px;
    border-radius: 0 50px 50px 0;
    border: none;
    background: #F00;
    color: #FFF;
    padding: auto;
    gap: -5px;
}

/* footer section */
footer {
    background: #070211;
    max-width: 1300px;
    max-height: 500px;
    flex-shrink: 0;
    margin: 120px 400px 0 400px;
    padding: 100px 100px;
}

.address {
    display: flex;
    justify-content: space-around;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    /* margin: 120px auto; */

}

.call {
    display: flex;
}

.visit {
    display: flex;
}

.visit a {
    color: #FFF;
    text-decoration: none;

}

#footp {
    /* margin: 90px 140px; */
    max-width: 380px;
    max-height: 75px;
    margin-top: 100px;
}

.contact {
    margin: 90px 140px;

}

hr {
    background-color: dimgray;
    width: 820px;
    height: 0px;
    align-items: center;
    right: 20px;
}

.socials {
    margin: 90px auto;
    display: flex;
    justify-content: center;
    gap: 25px;

}

#copy {
    display: flex;
    justify-content: space-around;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
}

#copy button {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: #070211;
    color: #FFF;
}